description = "Default layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html
    lang="en"
    dir="ltr"
    class="light-style layout-navbar-fixed layout-menu-fixed"
    data-theme="theme-default"
    data-assets-path="../assets/"
    data-template="vertical-menu-template-no-customizer"
>
  <head>
    <meta charset="utf-8" />
    <title>October CMS - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="devnull69">
    <link rel="icon" type="image/png" href="{{ 'assets/icons/ico/subscript.png'|theme }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ 'assets/img/favicon/favicon.ico'|theme }}" />
    <!-- /Favicon -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
       href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
       rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="{{[
        'assets/vendor/fonts/fontawesome.css',
        'assets/vendor/fonts/materialdesignicons.css'
        ]|theme }}" />
    <!-- Menu Waves -->
    <link rel="stylesheet" href="{{[
        'assets/vendor/libs/node-waves/node-waves.css'
    ]|theme }}" />
      <!-- Core CSS -->
    <link rel="stylesheet" class="template-customizer-core-css" href="{{[
        'assets/vendor/css/rtl/core.css',
        'assets/vendor/css/rtl/theme-default.css',
        'assets/css/demo.css'
    ]|theme }}" />
    <link rel="stylesheet" href="{{[ 'assets/css/demo.css']|theme }}" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{[
        'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css',
        'assets/vendor/libs/typeahead-js/typeahead.css',
        'assets/vendor/libs/apex-charts/apex-charts.css',
        'assets/vendor/libs/swiper/swiper.css'
    ]|theme}}" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="{{[
    'assets/vendor/css/pages/cards-statistics.css',
    'assets/vendor/css/pages/cards-analytics.css'
    ]|theme}}" />
    <script src="{{[ 'assets/vendor/js/helpers.js']|theme }}"></script>
    <script src="{{[ 'assets/js/config.js']|theme }}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            {% partial 'navigation' %}
            <!-- / Menu -->
            <!-- Layout container -->

             <!-- / Layout page -->
        </div>
      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{{[
        'assets/vendor/libs/jquery/jquery.js',
        'assets/vendor/libs/popper/popper.js',
        'assets/vendor/js/bootstrap.js',
        'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js',
        'assets/vendor/libs/node-waves/node-waves.js'
    ]|theme}}"> </script>
  <script src="{{[
        'assets/vendor/libs/hammer/hammer.js',
        'assets/vendor/libs/i18n/i18n.js',
        'assets/vendor/libs/typeahead-js/typeahead.js',
        'assets/vendor/js/menu.js'
    ]|theme}}"> </script>
   <!-- endbuild -->

  <!-- Vendors JS -->
   <script src="{{[
    'assets/vendor/libs/apex-charts/apexcharts.js',
    'assets/vendor/libs/swiper/swiper.js'
   ]|theme }}"> </script>
  <!-- Main JS -->
    <script src="{{ 'assets/js/main.js'|theme }}"> </script>
  <!-- Page JS -->
    <script src="{{ 'assets/js/dashboards-analytics.js'|theme }}"> </script>
  </body>
</html>
