description = "Default layout"

[session]
security = "all"
==
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="{{ [
          'assets/fonts/inter/inter.css',
          'assets/icons/phosphor/styles.min.css',
          'assets/css/ltr/all.min.css'
          ]|theme }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

  </head>

    <!-- Core JS files -->
    <script src="../../../assets/demo/demo_configurator.js"></script>
    <script src="../../../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{{[
        'assets/js/vendor/visualization/d3/d3.min.js',
        'assets/js/vendor/visualization/d3/d3_tooltip.min.js',
        'assets/js/app.min.js'
        ]|theme}}>"</script>

    <script src="../../../assets/demo/pages/dashboard.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/streamgraph.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/sparklines.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/lines.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/areas.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/donuts.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/bars.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/progress.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/heatmaps.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/pies.js"></script>
    <script src="../../../assets/demo/charts/pages/dashboard/bullets.js"></script>
    <!-- /theme JS files -->

</html>
